body {
    background-image: url("./assets/background.jpeg");

    background-repeat: no-repeat;
    box-sizing: content-box;
}

#title {
    margin: 2.5rem;
    color: rgba(234, 179, 8, 1);
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-shadow: 0 0 0.4rem rgba(0, 0, 0, 1);
}

.box-content {
    margin: 0.5rem 1rem;
    border-width: 4px;
    border-radius: 0.75rem;
    border-color: rgba(41, 40, 21, 0.8);
    background-color: rgba(41, 40, 21, 0.8);
    backdrop-filter: blur(4px);
}

#char-name-input {
    width: 50%;
    margin: 2rem 25%;
    padding: 1.25rem;

    border-width: 2px;
    border-radius: 0.5rem;

    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.subtitle-divider {
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-top-width: 8px;
    border-color: rgba(0, 0, 0, 0.5);
}

.object-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.list-element {
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    cursor: pointer;
    border-radius: 0.5rem;
    color: rgba(200, 225, 80, 1);

    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;

    transition: all 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.equipment-element {
    width: 8rem;
    height: 5rem;
    display: grid;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: 800;
    border: 5px;
}

.list-element:hover {
    background-image: url();
    background-color: rgba(200, 225, 80, 0.75);
    color: black;
}

.hovered-image {
    width: 20rem;
    height: 20rem;
    position: relative;
    top: -115%;
    left: -60%;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;

    pointer-events: none;
}

.element-name {
    padding-top: 95%;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
